* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    color: brown;
    font-family: "Great Vibes", cursive;
  }
  main{
    font-family: "Great Vibes", cursive;
  }