* {
  margin: 0;
  padding: 0;
}
main {
  font-family: "Great Vibes", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input,
select,
button {
  margin-bottom: 20px;
}
