* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    color: black;
    font-family: "Great Vibes", cursive;
  }
  input{
    color: black;
    font-family: "Great Vibes", cursive;
  }
  .orange_text{
    color: purple;
}